@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9f0f5;
}

.editor-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    max-height: 900px;
    text-align: center;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.link-btn {
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}



.link-btn span {
    margin-right: 5px;
}

.link-btn:hover {
    background-color: #0056b3;
}

.page-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.5px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.button-container {
    margin-top: 10px;
}

button[type="submit"],
#saveBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button[type="submit"]:hover,
#saveBtn:hover {
    background-color: #0056b3;
}

.preview-container {
    margin-top: 20px;
}

.preview-container img,
.preview-container iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: 700px;
}
