
form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 3%;
}

/* Estilo do título */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 5%;
}

/* Estilo do rótulo */
label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

/* Estilo do campo de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilo do botão */
#botao {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

/* Estilo do botão ao passar o mouse */
#botao:hover {
    background-color: #0056b3;
}

/* Estilo do seletor */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

fieldset {
    border: none;
    margin-bottom: 16px;
    padding: 0;
}



/* Estilo dos inputs de rádio e labels */
.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.radio-group input[type="radio"] {
    margin-right: 8px;
}

.radio-group label {
    font-size: 14px;
    color: #555;
}

.area-perm{
    display: flex;
    /* background-color: #2d79f3; */
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
}

.perm-chama{
/* background-color: #007bff; */
margin-top: 25px;
}

#titulo{
    font-weight: bold;
}

.container-check{
    flex-direction: row;
    display: flex;
    padding: 5px;

}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 1055px) {
    h1 {
        margin-top: 10%;
    }
}

@media (max-width: 531px) {
    h1 {
        margin-top: 15%;
    }
}