@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
*{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#imagem-perfil{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
}
#link-config{
    display: flex;
    text-decoration: none;
    color: inherit;
    margin-top: 12px;
}

#offcanvasNavbarLabel{
    margin-left: 10px;
}

#logo-menu{
    width: 120px;
}

.dropdown-toggle{
    text-decoration: none;
    color: black;
}

#a-menu{
    text-decoration: none;
    color: inherit;
}

#i-menu{
    font-size: 25px;
    color: rgb(171, 2, 2);
}

#juntar-menu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#area-menu{
    padding-top: 15px;
}

body{
    background-color: #f4f4f9;
}

#msg_perm{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}