@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
*{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#imagem-perfil{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
}

#link-config{
    display: flex;
    text-decoration: none;
    color: inherit;
    margin-top: 12px;
}

#offcanvasNavbarLabel{
    margin-left: 10px;
}

#logo-menu{
    width: 120px;
}

.dropdown-toggle{
    text-decoration: none;
    color: black;
}

#a-menu{
    text-decoration: none;
    color: inherit;
}

#i-menu{
    font-size: 25px;
    color: rgb(171, 2, 2);
}

#acesso-txt-menu{
    margin-left: 5px;
}

.area-acesso-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#juntar-menu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#area-menu{
    padding-top: 15px;
}

body{
    background-color: #f4f4f9;
}

#msg_perm{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}

#icons-menu{
    margin-left: 5%;
}

.abrir-modal-cad{
    text-decoration: none;
    color: #000000;
}

.modal-cad {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    min-width: 180px;
    z-index: 1000;
}

.modal-cad ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-cad ul li {
    padding: 8px;
}

.modal-cad ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    border-radius: 3px;
}

.modal-cad ul li a:hover {
    background-color: #f0f0f0;
}