.dropdown-toggle{
    text-decoration: none;
    color: black;
}

#a-menu{
    text-decoration: none;
    color: inherit;
}

#i-menu{
    font-size: 25px;
    color: rgb(171, 2, 2);
}

#juntar-menu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#area-menu{
    padding-top: 15px;
}

body{
    background-color: #f4f4f9;
}

#msg_perm{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}